@page "/categorization-rules"
@page "/categorization-rules/create"
@using global::App.Read.Ports

<div class="row justify-content-between">
    <div class="col-4">
        @if (isCreating)
        {
            <EditForm Model="CategorizationRule" OnSubmit="Create" FormName="CreateCategory">
                <InputSelect @bind-Value="CategorizationRule!.CategoryId" class="form-control">
                    @if (categories != null && categories.Any())
                    {
                        @foreach (CategorySummaryPresentation category in categories)
                        {
                            <option value="@category.Id">@category.Label</option>
                        }
                    }
                </InputSelect>
                <InputText @bind-Value="CategorizationRule!.Keywords" class="form-control"></InputText>
            </EditForm>
        }
        else
        {
            <button class="btn btn-primary" @onclick="EnterCreateMode" disabled="@(categories is { Length: 0 })">
                <small class="bi bi-plus-lg"></small>
                Create
            </button>
        }
    </div>
    <div class="col-4 text-end">
        <div class="btn-group">
            <label class="btn btn-primary">
                <small class="bi bi-upload"></small>
                Import
                <InputFile OnChange="ImportCategorizationRulesFile" accept=".csv" class="btn btn-primary d-none"></InputFile>
            </label>
            <button class="btn btn-primary" @onclick="ExportCategorizationRules" disabled="@(categorizationRules is { Length: 0 })">
                <small class="bi bi-download"></small>
                Export
            </button>
        </div>
        @if (uploadResult != null)
        {
            <div>@uploadResult</div>
        }
    </div>
</div>

@if (categorizationRules is { Length: > 0 })
{
    <ul class="list-group list-group-flush">
        @foreach (CategorizationRuleSummaryPresentation categorizationRule in categorizationRules)
        {
            <li class="list-group-item">
                @categorizationRule.CategoryLabel (@categorizationRule.Keywords)
                <button class="btn btn-link" @onclick="() => Delete(categorizationRule)">Delete</button>
            </li>
        }
    </ul>
}