@page "/categories"
@page "/categories/create"
@using global::App.Read.Ports

<InputFile OnChange="ImportCategoriesFile" accept=".csv"></InputFile>
@if (uploadResult != null)
{
    <div>@uploadResult</div>
}

@if (isCreating)
{
    <EditForm Model="Category" OnSubmit="Submit" FormName="CreateCategory">
        <div>
            <label>Category:
                <InputSelect @bind-Value="Category!.ParentId">
                    @if (categories != null && categories.Any())
                    {
                        @foreach (CategorySummaryPresentation category in categories)
                        {
                            <option value="@category.Id">@category.Label</option>
                        }
                    }
                </InputSelect>
            </label>
            <label>Label:
                <InputText @bind-Value="Category!.Label"></InputText>
            </label>
        </div>
        <button type="submit">Submit</button>
    </EditForm>
}
else
{
    <button class="btn btn-primary" @onclick="ShowCategoryForm">Add new category</button>
}

@if (categories is { Length: > 0 })
{
    <button class="btn btn-primary" @onclick="ExportCategories">Export</button>

    <div class="row row-cols-4 g-4">
        @foreach (CategorySummaryPresentation category in categories)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@category.Label
                            <button class="btn btn-link" @onclick="() => Delete(category)">Delete</button>
                        </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (ChildCategorySummaryPresentation child in category.Children)
                        {
                            <li class="list-group-item">@child.Label</li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
}