@page "/accounts/{id:guid}"

@if (account == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <h2>@account.Label <small class="text-muted fs-6">@account.Number</small> @account.Balance € au @account.BalanceDate.ToShortDateString()</h2>
    <hr>
    <div class="input-group">
        <button type="button" class="btn btn-outline-dark" @onclick="@ShowFirstMonthTransactions">
            <span class="oi oi-media-skip-backward"></span>
        </button>
        <button type="button" class="btn btn-outline-dark" @onclick="@ShowPreviousMonthTransactions">
            <span class="oi oi-media-step-backward"></span>
        </button>
        <select @onchange="@ShowTransactionsOfMonth" class="form-select border-dark">
            @foreach (DateTime month in months)
            {
                <option selected="@(month == currentMonth)">@month.ToString("MMMM yyyy")</option>
            }
        </select>
        <button type="button" class="btn btn-outline-dark" @onclick="@ShowNextMonthTransactions">
            <span class="oi oi-media-step-forward"></span>
        </button>
        <button type="button" class="btn btn-outline-dark" @onclick="@ShowLastMonthTransactions">
            <span class="oi oi-media-skip-forward"></span>
        </button>
    </div>
}
@if (transactions == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="align-middle table table-hover table-sm">
        <thead class="table-light">
        <tr>
            <th>Label</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (TransactionSummaryPresentation transaction in transactions)
        {
            <tr>
                <td>@transaction.Label</td>
                <td class="text-end @(transaction.Amount > 0 ? "text-success" : "text-danger")">@transaction.Amount €</td>
                <td class="text-end">@transaction.Date.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
}