@page "/accounts"
@page "/accounts/{SelectedId:guid?}"
@using MoneyManager.Client.Components

<div class="container">
    <div class="row gx-0">
        @if (accounts != null)
        {
            <ul class="col-3 list-group">
                @foreach (AccountSummaryPresentation account in accounts)
                {
                    <li class="list-group-item @(account.Id == SelectedId ? "selected" : "")" @onclick="@(() => ShowDetails(account.Id))">
                        <p class="account-label fw-bold d-flex justify-content-between">
                            @account.Label
                            <span class="oi oi-chevron-right"></span>
                        </p>
                        <p class="d-flex justify-content-between">
                            @account.Number
                            <span class="text-success">@account.Balance €</span>
                        </p>
                    </li>
                }
            </ul>
            <div class="col-9">
                @if (SelectedId.HasValue)
                {
                    <AccountActivity Id="SelectedId.Value"></AccountActivity>
                }
            </div>
        }
    </div>
</div>