@page "/categories"

<button class="btn btn-primary" @onclick="@ShowCategoryForm">Add new category</button>
<ul class="list-group list-group-flush">
    <li class="list-group-item @(isCreating ? "" : "d-none")">
        <input type="text" @ref="@labelElement" @onchange="@LabelChanged" @onblur="@HideCategoryForm" class="form-control" placeholder="Label"/>
    </li>
    @if (categories != null)
    {
        @foreach (CategorySummaryPresentation category in categories)
        {
            <li class="list-group-item">@category.Label</li>
        }
    }
</ul>