<div class="container account-activity">
    @if (account != null)
    {
        <div class="row">
            <div class="col-auto">
                @if (isEditing)
                {
                    <div class="row g-3 align-items-end">
                        <div class="col-auto">
                            <input type="text" value="@account.Label" @ref="labelElement" @onchange="@LabelChanged" @onfocusout="@ExitEditMode" class="form-control" placeholder="Label"/>
                        </div>
                    </div>
                }
                else
                {
                    <h2>
                        <button type="button" class="btn btn-link btn-sm" @onclick="@ToggleEditMode" hidden="@isEditing">
                            <small class="bi bi-pencil"></small>
                        </button>
                        @account.Label
                    </h2>
                }
            </div>
            <div class="col"></div>
            <div class="col-auto">
                <h2 class="account-balance fw-bold">
                    @account.Balance.ToString("N2") €
                    <span class="fs-5 fw-normal text-muted">au @account.BalanceDate.ToShortDateString()</span>
                </h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <div class="input-group">
                    <button type="button" class="btn btn-outline-dark" @onclick="@ShowFirstMonthTransactions">
                        <span class="bi bi-skip-backward-fill"></span>
                    </button>
                    <button type="button" class="btn btn-outline-dark" @onclick="@ShowPreviousMonthTransactions">
                        <span class="bi bi-caret-left-fill"></span>
                    </button>
                    <select @onchange="@ShowTransactionsOfMonth" class="form-select border-dark">
                        @foreach (DateOnly month in months)
                        {
                            <option selected="@(month == currentMonth)" value="@month.ToString("yyyy-MM-dd")">@month.ToString("MMMM yyyy")</option>
                        }
                    </select>
                    <button type="button" class="btn btn-outline-dark" @onclick="@ShowNextMonthTransactions">
                        <span class="bi bi-caret-right-fill"></span>
                    </button>
                    <button type="button" class="btn btn-outline-dark" @onclick="@ShowLastMonthTransactions">
                        <span class="bi bi-skip-forward-fill"></span>
                    </button>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <Transactions AccountId="@Id" Month="@currentMonth"></Transactions>
    }
</div>