@using global::App.Read.Ports

<div class="table-responsive">
    <table class="align-middle table table-hover table-sm table-borderless">
        <tbody>
        @foreach (IGrouping<DateOnly, TransactionSummaryPresentation> transactionsPerDate in Transactions.GroupBy(t => t.Date))
        {
            @foreach ((TransactionSummaryPresentation transaction, int index) in transactionsPerDate.Select((p, i) => (p, i)))
            {
                <tr>
                    <td>@(index == 0 ? transaction.Date.ToString("dd/MM") : string.Empty) </td>

                    <td class="transaction-label lh-sm">
                        @transaction.Label
                        <div class="small text-secondary">@transaction.Category</div>
                    </td>
                    <td class="text-end">
                        <span class="text-@(transaction.Amount > 0 ? "success" : "danger")">@transaction.Amount.ToString("N2") €</span>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-@(transaction.Category != null ? "primary" : "outline-primary") py-0 px-2" type="button"
                                    @onclick="@(() => OpenCategoryPickerFor(transaction.Id))">
                                <small class="bi bi-tag"></small>
                            </button>
                            <button class="btn btn-@(transaction.IsRecurring ? "secondary" : "outline-secondary") py-0 px-2" type="button"
                                    @onclick="@(() => MarkAsRecurring(transaction.Id))">
                                <small class="bi bi-calendar-@(transaction.IsRecurring ? "check" : "plus")"></small>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2" class="text-end fw-bold">Total</td>
            <td class="text-end">
                <span class="text-@(Total > 0 ? "success" : "danger")">@Total.ToString("N2") €</span>
            </td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>